* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p,li,span,ul,a{
    font-size: 18px;
    text-decoration: none;
}
a:link,
a:visited {
  color: cornflowerblue;
}

a:hover,
a:active {
  color: hotpink;
}

body {
  background-color: #333;
  background-image: url(/assets/images/wallpaper.jpg);
  background-size: 300px;
}
#logo {
  font-size: 100px;
  width: 100%;
  text-align: center;
  user-select: none;
}
#wrapper {
  background-color: #fff;
  border-radius: 0 15px 15px 15px;
  padding: 16px 8px;
  border: 3px solid;
}
#navbar {
  margin-bottom: 3px;
}
#navbar a {
  display: inline-block;
  background-color: #fff;
  padding: 8px 32px;
  border-radius: 15px 0;
  border: none;
  color: black;
  border: 3px solid black;
}
img {
  width: 100%;
  height: 100%;
}
.menu > ul{
  margin-bottom: 16px;
  list-style: none;
}
.menu li {
  padding-left: 20px;
  margin-top: 8px;
  border-bottom: 1px solid cornflowerblue;
  font-weight: bold;
}
.menu>ul>a
{
    display: inline-block;
    text-align: center;
    background-color: cornflowerblue;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
}

#breadcrumb{
    /* margin-bottom: 40px; */
  /* padding-bottom: 20px; */
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  padding-top: 20px;
}

.pagination a {
  padding: 8px 14px;
  background-color: #cfcfcf;
  border: 3px solid;
  text-decoration: none;
  color: black;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}
.pagination a:last-child>div{
    width: 100%;
    text-align: right;
}
.pagination a:first-child:hover {
  background-color: powderblue;
}
.pagination a:last-child:hover {
  background-color: pink;
}

.pagination a.disabled {
  pointer-events: none;
  /* color: #aaa;
  background-color: #f9f9f9; */
  filter: brightness(200%);
}

@media only screen and (min-width: 1200px){
  body {
    margin: 0px 150px 100px 150px;
  }
}
